#container
{
    font-family: 'Raleway', sans-serif;
}

ul
{
    list-style-type: none;
}

.box_head
{
    align-items: flex-end;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly, flex-end;
}

.gray
{
    color: #F2F2F2;
}

.blue, .bold_blue
{
    color: #0065FC;
}

.bold_blue
{
    font-weight: bold;
}
