@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Raleway", "Sans serif";
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
.uselessTitle { display: none }

.hostingSmallScreen { display: none }

.activitySmallScreen { display: none }

.header {
  display: grid;
  align-items: center;
  max-width: 100%;
  margin: 0;
  grid-template-columns: auto 1fr auto auto;
  grid-template-areas: "logo . navbar button";
}
.headerImg {
  justify-content: start;
  padding: 0 2rem;
  height: 2.813rem;
  margin: 0;
}
.headerNavLink {
  justify-content: center;
  padding: 2rem;
  font-weight: 500;
  text-align: center;
  transition-duration: 0.1s;
  border-top: 3px transparent solid;
  border-bottom: 3px transparent solid;
  display: flex;
  align-items: center;
  text-align: center;
  grid-area: navbar;
}
.headerNavLink.header-3 { margin-right: 120px }
.headerNavLink.header-4 { margin-left: auto }
.headerNavLink.header-3, .headerNavLink.header-4 { max-width: 230px }
.headerNavLink[data-active=true] {
  border-top: 4px solid #0065FC;
  color: #0065FC;
}
.headerNavLink:hover {
  border-top: 4px solid #0065FC;
  color: #0065FC;
}
.headerSignup {
  display: flex;
  align-items: center;
  grid-area: button;
  padding: 2rem;
  color: #0065FC;
  font-weight: 600;
}
.main {
  max-width: 100%;
  padding-left: 2rem;
  padding: 0 2rem;
  box-sizing: border-box;
  display: flex;
}
.searchHeaderTitle {
  padding-left: 2rem;
  margin-bottom: 0.5rem;
}
.searchHeaderSubtitle {
  padding-left: 2rem;
  margin-top: 0;
}
.searchForm {
  display: inline-flex;
  vertical-align: middle;
  max-width: 100%;
  overflow: auto;
}
.searchFormWrapicon {
  margin-left: 2rem;
  background-color: #F2F2F2;
  padding: 1rem 1.25rem;
  border-radius: 1rem 0 0 1rem;
  text-align: center;
}
.searchFormWrapiconIcon { padding-left: 0.1rem }

.searchFormSearchinput {
  border-right: none;
  border-left: none;
  border-top: #F2F2F2 1px solid;
  border-bottom: #F2F2F2 1px solid;
  padding: 0 1.5rem;
  min-width: 234px;
  min-height: 48px;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Raleway", "Sans-serif";
}
.searchFormSearchinput::placeholder {
  font-family: "Raleway", "Sans-serif";
  font-size: 1rem;
  color: #00000070;
}
.searchFormSubmitinput {
  background-color: #0065FC;
  color: white;
  font-weight: bold;
  border: none;
  min-height: 48px;
  border-radius: 0 1rem 1rem 0;
  padding: 0 3rem;
  font-family: "Raleway", "Sans-serif";
  font-size: 1rem;
  cursor: pointer;
}
.searchFormSubmitinputSmallScreen { display:none }

.searchFilters {
  display: flex;
  padding-left: 2rem;
  margin-top: 2rem;
  flex-wrap: wrap;
}
.searchFiltersTitle {
  margin: 0 2rem 1rem 0;
  display: flex;
  align-items: center;
}
.searchFiltersFilter {
  display: flex;
  align-items: center;
  margin-right: 2rem;
  border: 2px solid #D9D9D9;
  border-radius: 2rem;
  margin-bottom: 1rem;
  cursor: pointer;
  transition-duration: 0.1s;
  font-weight: bold;
}
.searchFiltersFilter:last-child { margin-right:0 }

.searchFiltersFilter:hover {
  background-color: #F3F8FF;
  transform: scale(1.025);
}
.searchFiltersFilterWrapicon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: #DEEBFF;
  height: 3rem;
  width: 3rem;
  min-height: 3.5rem;
  min-width: 3.5rem;
  margin: -2px;
}
.searchFiltersFiltersWrapiconIcon { color: blue }

.searchFiltersFilterTitle {
  margin: 0 1rem;
}
.searchResult {
  display: flex;
  align-items: center;
  margin: 1rem 0 2rem 1rem;
}
.searchResultWrapicon {
  border-radius: 100%;
  border: solid 1px #D9D9D9;
  height: 1.5rem;
  width: 1.5rem;
  min-width: 2rem;
  min-height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}
.searchResultWrapiconIcon {
  color: #0065FC;
}
.searchResultText {
  margin: 0;
}
.hosting, .popular, .hostingSmallScreen {
  background-color: #F2F2F2;
  border-radius: 1.5rem;
  padding: 2rem; 
}
.hostingPopular {
  width: 100%;
  display: grid;
  grid-template-columns: 64% 33%;
}
.hosting {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}
.hostingMain {
  display: grid;
  column-gap: 2rem;
  grid-template-columns: 31% 31% 31%;
  row-gap: 2rem;
  grid-template-rows: auto 1fr;
}
.hostingMainHeader { grid-column: 1/-1 }

.hostingMainHeaderTitle { margin: 0 }

.hostingMainCard {
  background-color: white;
  border-radius: 1.25rem;
  box-shadow: 0 0 16px #0000002E;
  padding: 6px;
  box-sizing: border-box;
  height: 100%;
  transition-duration: 0.1s;
  cursor: pointer;
}
.hostingMainCard:hover { transform: scale(1.025) }

.hostingMainCardFigure { margin: 0 }

.hostingMainCardFigureImg {
  height: 7rem;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  border-radius: 1rem 1rem 0 0;
  object-fit: cover;
}
.hostingMainCardFigureCaptionTitle { margin: 0.25rem 0.75rem 0 0.75rem }

.hostingMainCardDesc { margin: 0.25rem 0.75rem 0.25rem 0.75rem }

.hostingMainCardDescPrice { font-weight: bold }

.hostingMainCardGrade { margin: 0 0.75rem 0.25rem 0.75rem }

.hostingMainCardGradeIcon[data-active=true] { color: #0065FC }

.hostingMainCardGradeIcon[data-active=false] { color: #D9D9D9 }

.hostingMainViewmore {
  font-weight: bold;
  margin-bottom: 1rem;
}
.popular {
  display: grid;
  align-items: start;
  grid-template-rows: auto repeat(3, 1fr);
}
.popularHeaderTitle {
  margin: 0;
  display: flex;
  justify-content: space-between;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-bottom: 1rem;
}
.popularMain {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}
.popularMainCard {
  display: flex;
  align-items: stretch;
  background-color: white;
  border-radius: 1.25rem;
  box-shadow: 0 0 16px #0000002E;
  padding: 6px;
  margin: 0.78rem;
  box-sizing: border-box;
  height: 160px;
  max-width: 400px;
  transition-duration: 0.1s;
  cursor: pointer;
}
.popularMainCard:hover { transform: scale(1.025) }

.popularMainCardFigure {
  position: relative;
  min-height: 100%;
  margin: 0;
}
.popularMainCardFigureImg, .popularMainCardFigureImgSmall {
  min-height: 100%;
  height: 100%;
  width: 33%;
  max-height: 100%;
  border-radius: 1rem 0 0 1rem;
  margin-top: -4px;
  object-fit: cover;
  position: absolute;
}
.popularMainCardFigureCaptionTitle { margin: 0.25rem 0.75rem 0 9rem }

.popularMainCardDesc { margin: 0.25rem 0.75rem 0 9rem }

.popularMainCardDescPrice { font-weight: bold }

.popularMainCardGrade { margin: 0 0.75rem 0 9rem }

.popularMainCardGradeIcon[data-active=true] { color: #0065FC }

.popularMainCardGradeIcon[data-active=false] { color: #D9D9D9 }

.activity {
  height: 600px;
  margin-bottom: 80px;
}
.activityMain {
  width: 100%;
  overflow: hidden;
  column-count: 4;
}
.activityMainCard {
  display: flex;
  flex-direction: column;
}
.activityHeaderTitle {
  grid-column: 1/-1;
  padding-left: 2rem;
}
.activityMainCardFigure { display: flex }

.activityMainCardFigure a { width: 383px }

.activityMainCardColumn1 a, .activityMainCardColumn3 a { height: 100% }

.activityMainCardColumn2 a, .activityMainCardColumn4 a { height: 50% }

.activityMainCardColumn1 {
  display: flex;
  flex-direction: column;
}
.activityMainCardColumn2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.activityMainCardColumn3 {
  display: flex;
  flex-direction: column;
}
.activityMainCardColumn4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.activityMainCardColumnSmall {
  height: 240px;
  width: 383px;
}
.activityMainCardColumnBig {
  height: 550px;
  width: 383px;
}
.activityMainCardFigure1 {
  box-shadow: 0 0 20px #0000002E;
  border-radius: 1rem;
  overflow: hidden;
  transition-duration: 0.1s;
  box-sizing: border-box;
  display: inline-block;
}
.activityMainCardFigure2 {
  box-shadow: 0 0 20px #0000002E;
  border-radius: 1rem;
  overflow: hidden;
  transition-duration: 0.1s;
  box-sizing: border-box;
  display: inline-block;
  margin-bottom: 3rem;
}
.activityMainCardFigure3 {
  box-shadow: 0 0 20px #0000002E;
  border-radius: 1rem;
  overflow: hidden;
  transition-duration: 0.1s;
  box-sizing: border-box;
  display: inline-block;
}
.activityMainCardFigure4 {
  box-shadow: 0 0 20px #0000002E;
  border-radius: 1rem;
  overflow: hidden;
  transition-duration: 0.1s;
  box-sizing: border-box;
  display: inline-block;
}
.activityMainCardFigure5 {
  box-shadow: 0 0 20px #0000002E;
  border-radius: 1rem;
  overflow: hidden;
  transition-duration: 0.1s;
  box-sizing: border-box;
  display: inline-block;
  margin-bottom: 4rem;
}
.activityMainCardFigure6 {
  box-shadow: 0 0 20px #0000002E;
  border-radius: 1rem;
  overflow: hidden;
  transition-duration: 0.1s;
  box-sizing: border-box;
  display: inline-block;
}
.activityMainCardFigure1:hover { transform: scale(1.025) }

.activityMainCardFigure2:hover { transform: scale(1.025) }

.activityMainCardFigure3:hover { transform: scale(1.025) }

.activityMainCardFigure4:hover { transform: scale(1.025) }

.activityMainCardFigure5:hover { transform: scale(1.025) }

.activityMainCardFigure6:hover { transform: scale(1.025) }

.activityMainCardFigureImg {
  position: relative;
  flex: 1;
  height: 88%;
  max-height: 100%;
  width: 100%;
  object-fit: cover;
}
.activityMainCardFigureImgSmall {
  position: relative;
  flex: 1;
  height: 75%;
  max-height: 100%;
  width: 100%;
  object-fit: cover;
}
.activityMainCardFigureCaptionTitle { margin: 1.2rem 1.5rem }

.footer { 
  background-color: #F2F2F2;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.footerAbout, .footerHosting, .footerHelp { width: 30% }

.footerHostingContent, .footerAboutContent, .footerHelpContent {
  list-style: none;
  margin-left: -2.5rem;
}
.footerContentLink {
  display: block;
  margin: 1rem 0;
}
.footerContentLink:hover { text-decoration: underline }

@media (min-device-width: 320px) and (max-device-width: 480px) {
  .header {
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
  }
  .header-1 { grid-area: 1 / 1 / 2 / 2 }

  .headerImg {
    justify-content: center;
    align-content: center;
    height: 2.813rem;
  }

  .header-2 { 
    grid-area: 1 / 2 / 2 / 3;
    align-self: end;
    padding-right: 0;
    font-size: large;
    margin-right: auto;
    margin-left: auto;
    width: fit-content;
  }
  .header-3 { 
    grid-area: 2 / 1 / 3 / 2;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 20px;
    align-self: center;
    margin-right: 0px;
    min-width: 100%;
    max-width: 100%;
  }
  .header-4 { 
    grid-area: 2 / 2 / 3 / 3;
    text-align: center;
    justify-content: center;
    margin: 0;
    padding-right: 0;
    padding-left: 0; 
  }

  .headerNav { display: block }

  .headerSignup { display: block }

  .headerNavLink { 
    padding-bottom: 20px;
    width: 104%;
  }
  .headerNavLink[data-active=true] {
    border-bottom: 4px solid #0065FC;
    color: #0065FC;
    border-top: none;
  }
  .headerNavLink[data-active=false] { border: none }

  .headerNavLink:hover {
    border-top: none;
    border-bottom: 4px solid #0065FC;
  }
  .searchFormSearchinput {
    padding-right: 0;
    min-width: 180px;
    width: auto;
    max-width: 180px;
    padding-left: 20px;
    height: 16px;
  }
  .searchForm { 
    padding-right: 0;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .searchFormWrapicon { 
    width: 23px;
    margin-left: 0;
  }

  .searchHeaderTitle { 
    padding-left: 0;
    width: 320px;
    margin-right: auto;
    margin-left: auto; 
  }
  .searchHeaderSubtitle { 
    padding-left: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
  }

  .searchFormSubmitinputSmallScreen {
    display: block;
    padding: 0;
    min-width: 60px;
    width: 60px;
    max-width: 60px;
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border: none;
    min-height: 48px;
    border-radius: 0 1rem 1rem 0;
    font-family: "Raleway", "Sans-serif";
    font-size: 1rem;
    cursor: pointer;
  }
  .searchFormSubmitinput { display: none }

  .searchFormSearchinput {
    padding-right: 0;
    min-width: 180px;
    width: 180px;
    max-width: 180px;
  }
  .searchFormSearchinput::placeholder { 
    min-width: 100px;
    width: 180px;
    padding-right: 0;
  }
  .hosting { display: none }

  .hostingSmallScreen { 
    display: block;
    border-radius: 0;
    padding-top: 20px;
    width: 100%;
    background-color: #FFFFFF;
    margin-bottom: -33px;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    padding-left: 0;
    padding-right: 0;
  }
  .hostingPopular { 
    display: flex;
    flex-direction: column;
  }
  .hostingMain {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    padding-left: 0;
  }
  .hostingMainHeaderTitle { padding-left: 5px }

  .popular {
      padding-top: 20px;
      margin-bottom: 20px;
      border-radius: 0;
      margin-left: auto;
      margin-right: auto;
      width: 320px;
      padding-left: 0;
      padding-right: 0;
      background-color: white;
  }
  .popularHeaderTitle { 
    margin-left: 5px;
    margin-bottom: 1rem;
    margin-right: auto;
    margin-left: auto;
    width: 275px;
    padding-left: 18px;}

  .popularMainCard { max-width: 275px }

  .popularMainCardFigureImg, .popularMainCardFigureImgSmall {
    width: 48%;
  }
  .activity { display: none }
  
  .activitySmallScreen { 
    display: flex;
    flex-direction: column;
    max-height: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 54px;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
  .activityHeaderTitle { padding-left: 0 }

  .activityMainCardFigure { 
    height: 250px; 
    margin-left: auto;
    margin-bottom: 10px;
    width: 320px;
    margin-right: auto;
  }

  .activityMainCardFigure1, .activityMainCardFigure2, .activityMainCardFigure3,
  .activityMainCardFigure4, .activityMainCardFigure5, .activityMainCardFigure6 { 
    height: 250px;
    margin-left: auto;
    width: 320px;
    margin-bottom: 10px;
    margin-right: auto;
    border-radius: 0;
  }
  .activityMainCardFigureImg { height: 75% }

  .activityMainCardFigureImg, .activityMainCardFigureImgSmall { max-width: 100% }

  .footer { 
    margin-top: 33px;
    flex-direction: column;
 }

  .footerAbout, .footerHosting, .footerHelp {
    width: 85%;
    padding-left: 15%;
  }
}